body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3498db, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 500px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: calc(100% - 48px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.add {
    background-color: #4caf50;
    color: white;
    margin-left: 8px;
}

button.add:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

li.completed {
    background-color: #d9e9d9;
}

.buttons {
    display: flex;
}

button.complete, button.delete {
    margin: 0;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

button.complete {
    background-color: #4caf50;
    color: white;
    margin-right: 8px;
}

button.delete {
    background-color: #f44336;
    color: white;
}

button.complete:hover, button.delete:hover {
    filter: brightness(90%);
}

a.instagram-link img {
    width: 35px;
    height: auto;
    
}

a.instagram-link:hover {
    opacity: 0.8;
}
